body, html {
  margin: 0;
  padding: 0;

  background-color: #262626;
  color: #fff;
}

h1 {
  font-size: 400%;
}

.main-container {
  display: flex;
}

.number-container-wrapper {
  display: flex;
  min-height: 50%;
}

.button-container-wrapper {
  flex: 1;
  /* background: red; */
}

.site-name {
  text-align: center;
}

.left-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.right-panel {
  min-width: 50%;
}

#image {
  height: 100vh;
}

.selected {
  background: red;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.button {
  float: left;

  cursor: pointer;
  text-align: center;

  background: #255c99;
}

.button:hover {
  opacity: 0.8;
}

.zoom-button {
  width: 46%;
  margin: 2%;
}

.label-button {
  width: 30%;
  margin: 0 1% 0 2%;
}

#yes-button {
  background: #69b578;
}

#no-button {
  background: #b3001b;
}

.heading-container {
  clear: both;
}

.heading-container h5 {
  float: left;
}

.heading-container h4 {
  float: right;
}

.number-container {
  flex: 1;
  width: 46%;
  float: left;
  margin: 2%;
}