.ipynb_checkpoints/
.vscode/
__pycache__/
static/base_images/
static/current_image/
static/labeled_images/
model_data/test/test_images/
model_data/train/no_water/
model_data/train/water/
model_data/val/no_water/
model_data/val/water/