<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <script>
      let lat = {{ lat|tojson }},
          lon = {{ lon|tojson }},
          zoom = {{ zoom|tojson }},
          num_images_labeled = {{ num_images_labeled|tojson }},
          MAPBOX_ACCESS_TOKEN = {{ MAPBOX_ACCESS_TOKEN|tojson }}
    </script>
  </head>

  <body>
    <div class="main-container noselect">

      <div class="left-panel">
        <div class="number-container-wrapper">
          <div class="number-container">
            <h5>Zoom:</h5> <h1 id="zoom-level">{{ zoom }}</h1>
          </div>
          <div class="number-container">
            <h5>Images labeled:</h5> <h1 id="num-images-labeled">{{ num_images_labeled }}</h1>
          </div>
        </div>

        <div class="button-container-wrapper noselect">
          <form method="POST">
            <div class="zoom-button-container">
              <div id="zoom-out-button" class="button">
                <h3>-</h3>
              </div>
              <div id="zoom-in-button" class="button">
                <h3>+</h3>
              </div>
            </div>
            <div class="classification-button-container">
              <div id="no-button" class="button">
                <h3>No</h3>
              </div>
              <div id="yes-button" class="button">
                <h3>Yes</h3>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="right-panel">
        <img id="image" src="https://api.mapbox.com/v4/mapbox.satellite/{{ lon }},{{ lat }},{{ zoom }}/1000x1000.png32?access_token={{ MAPBOX_ACCESS_TOKEN }}">
      </div>

    </div>

    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

  </body>

</html>